<div class="main password-change">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="password-card">
          
          <div class="change-icon">
            <%= resource.username %>
          </div>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
          
              <div class="field">
                <%= f.label "現在のパスワード" %>
                <%= f.password_field :current_password, autocomplete: "current-password" %>
              </div>
            
              <div class="field">
                <%= f.label "新しいパスワード" %>
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>
            
              <div class="field">
                <%= f.label "新しいパスワードの確認" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
              
               <div class="actions">
              <%= f.submit "パスワードを変更", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

