<% provide(:title, "新規登録") %>
<div class="main sign-up">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="sign-up">
          <div class="sign-form sign-card">
            <h1>InstaClone</h1>
            <h2>登録して友達の写真をチェックしよう</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              
              <div class="field">
                <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", placeholder:"フルネーム" %>
              </div>
              
              <div class="field">
                <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder:"ユーザーネーム" %>
              </div>
            
              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス" %>
              </div>
            
              <div class="field">
                <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード" %>
              </div>
            
              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"確認" %>
              </div>
            
              <div class="actions">
                <%= f.submit "登録する", class: "btn btn-primary btn-block" %>
              </div>
              
              <p class="term">登録することで、Facebookの<%= link_to "利用規約", '#', class: "link" %>,
              <%= link_to "データに関するポリシー", '#', class: "link" %>
              <%= link_to "cookieポリシー", '#', class: "link" %>に同意するものとします。</p>
            <% end %>
          </div>
          <div class="sign-card">
            <%= render "devise/shared/links" %>  
          </div>  
        </div>
      </div>
    </div>
  </div>  
</div>
