<div class="main show">
  <div class="container">
    <div class="profile">
      <div class="user-header">
        <div class="user-icon">
          画像
        </div>
        <div class="profile-info">
          <div class="profile-top">
            <h2><%= @user.username %></h2>
            <div class="profile-link">
              <% if @user == current_user %>
                <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn page-link text-dark d-inline-block default" %>
              <% else %>
                <%= render 'follow_form' %>
              <% end %>
            </div>
            
          </div>
          <div class="status">
              <p>投稿<span class="sum"><%= @user.posts.count %></span>件</p>
              <P>フォロワー<strong id="followers"><%= link_to @user.followers.count, '#', class: "sum" %></strong>人</P>
              <P>フォロー<strong id="following"><%= link_to @user.following.count, '#', class: "sum" %></strong>人</P>
          </div>
          <div class="introduction">
            <%= @user.introduction %>
          </div>
        </div>
      </div>
    </div>
    <div class="user-posts">
      <div class="post-list">
        <%= render @posts %>
      </div>
    </div>
  </div>
</div>