<div class="main show">
  <div class="container">
    <div class="profile">
      <div class="user-header">
        <div class="user-icon">
          <%= image_tag @user.image.url %>
        </div>
        <div class="profile-info">
          <div class="profile-top">
            <h2><%= @user.username %></h2>
            <div class="profile-link">
              <% if @user == current_user %>
                <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn page-link text-dark d-inline-block default" %>
              <% else %>
                <%= render 'follow_form' %>
              <% end %>
            </div>
            
          </div>
          <div class="status">
              <p>投稿<span class="sum"><%= @user.posts.count %></span>件</p>
              <P>
                フォロワー
                <button type="button" id="followers" name="follower" value="フォロワー" data-toggle="modal" data-target="#followerModal">
                  <%= @user.followers.count %>
                </button>
                人
              </P>
              <P>フォロー
                <button type="button" id="following" name="follow" value="フォロー" data-toggle="modal" data-target="#followModal">
                  <%= @user.following.count %>
                </button>
                人
              </P>
          </div>
          <div class="introduction">
            <%= @user.introduction %>
          </div>
        </div>
      </div>
    </div>
    <div class="user-posts">
      <div class="post-list">
        <%= render @posts %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade followModal" id="followerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <%= render 'relationships/follower_modal.html.erb' %>
</div>  

<div class="modal fade followModal" id="followModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <%= render 'relationships/follow_modal.html.erb' %>
</div>  