<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">
    <div class="row">
      <div class="col-7">
        <%= image_tag post.picture.url %>
      </div>
      <div class="col-5">
        <div class="modal-post-user">
          <div class="user-icon-mini">
            <%= image_tag post.user.image.url %>
            <%= post.user.username %>
          </div>
        </div>
        <% post.comments.each do |comment| %>
          <div class="modal-comment">
            <div><%= link_to comment.user.username, comment.user %></div>
            <div><%= comment.content %></div>
          </div>
         <% end %>
      </div>
    </div>
  </div>
</div>